body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 10px;
    padding: 0px;
    margin: 0px;
    background-color: #FF69B4;
}
#title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: colorchg 10s ease-in 0s infinite alternate;
    color: #FFFAFA;
}
#title small{
    font-size: 11px;
    color: black;
}
@keyframes colorchg{
    20%{
        color: #FF00FF;
    }
    40%{
        color: #FFFF00;
    }
    60%{
        color: #00FF00;
    }
    80%{
        color: #00FFFF;
    }
    100%{
        color: #FFA500;
    }
}
#container{
    box-sizing: border-box;
    height: 500px;
    width: 500px;
    padding: 0px;
    margin: 0px;
    border: solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
    background-color: black;
    display: grid;
    overflow: hidden;
}
#slidercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#slidervalue{
    background-color: white;
    color: black;
    width: fit-content;
    height: fit-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-radius: 5px;
}
#toolbar{
    display: flex;
    flex-direction: column;
    height: 15%;
    gap: 10%;
}
.tools{
    box-sizing: border-box;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#gridtoggle{
    background-color: white;
    height: 100%;
    width: 110px;
}
.tools button{
    border-radius: 10px;
    border: none;
    height: 80%;
    box-shadow: 0px 0px 5px;
    font-family: fantasy;
}
.tools #rainbow {
    color: white;
    animation: colorchg2 7s ease-in 0s infinite alternate ;
}
@keyframes colorchg2 {
    0%{
        background-color: #9400D3;
    }
    14%{
        background-color: #4B0082;
    }
    28%{
        background-color: #0000FF;
    }
    42%{
        background-color: #00FF00;
    }
    56%{
        background-color: #FFFF00;
    }
    70%{
        background-color: #FF7F00;
    }
    84%{
        background-color: #FF0000;
    }
}